#try{
    background-color: yellow;
    background-size: 5vh 5vw;
}


.menus{
    display: none;
    width: 100%;
    flex-direction:column;
    gap: 16px;
    position: absolute;
    top: 60px;
    left: 0px;
    padding: 0 20px 20px;
    background: whitesmoke;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    height: 60px;
    padding: 0 20px;
    background:#06397f;
    position: static;
}
nav ul {
    display: inline-block;
    justify-content: space-between;
}
nav a {
    text-decoration: none;
    font-size: medium;
    font-style: italic;

}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vh 10vh 5vh ;
    font-size: 5vh;
    font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
    font-kerning: inherit;
    background-color:burlywood;

}

ul:after {
    content: "";
    display :inline-block
   }
   li {
    display: inline-block;
    color: white;
    padding: 10px;
    list-style: none;
    text-decoration: none;
   }
   a:first-child{
       color: white;
       padding-left: 20px;
       font-size: medium;
       font-style: italic;
       font-weight: 300;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       

   }


a:hover {
    color:rgb(223, 92, 45);
    font-size: 2.8vh;
}

   footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    word-spacing: auto;
    height: auto;
    font-weight: bold;
    justify-content: space-between;
    padding:20px 20px;
    position: absolute;
    right: 0px;
    left: 0px;
    
}
footer a {
    text-decoration: none;
    text-shadow: 2em;
    
}




footer:first-child{
    color: white;
    padding-right: 20px;

}

span a{
    justify-content: space-around;


}
footer span{
    text-align: right;
}

body{
    background-color: antiquewhite;
    display: block;
    font-family: 
    system ui,
    -apple-system,
    BlinkMacSystemFint;

}
.footercontentA{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 span a:nth-last-child(2){
    color:rgb(229, 229, 90);
}